.container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fefcec;
  padding-left: 20;
  padding-right: 20;
  padding-top: 20;
  padding-bottom: 20;
}
.text {
  color: #f76a24;
  font-size: 32;
}
.main_text {
  width: 600;
}